<md-dialog aria-label="More Info for {{beer.name}}">
  <md-dialog-content layout="row" class="beer-info" layout-sm="column" layout-xs="column">
    <div flex>
        <h2 class="primary">{{beer.name}}</h2>
        <p>
         {{beer.description}}
        </p>

        <p class="md-caption">Brewer's Tips: {{beer.brewers_tips}}</p>
        <div>
          <h2>Ingredients</h2>
          <md-list layout="row" layout-align="start start">
            <md-list-item flex="33">
              <div>
                <h4>Malt</h4>
                <md-list>
                  <md-list-item ng-repeat="malt in beer.ingredients.malt track by $index">
                    {{malt.name}}
                  </md-list-item>
                </md-list>
              </div>
            </md-list-item>

            <md-list-item flex="33">
              <div>
                <h4>Hops</h4>
                <md-list>
                  <md-list-item ng-repeat="hop in beer.ingredients.hops track by $index">
                    {{hop.name}}
                  </md-list-item>
                </md-list>
              </div>
            </md-list-item>
            <md-list-item flex="33">
              <div>
                <h4>Yeast</h4>
                <md-list>
                  <md-list-item>{{beer.ingredients.yeast}}</li>
                  </md-list>
                </div>
              </md-list-item>
            </md-list>
          </div>
    </div>

    <div flex class="card-media">
      <img ng-src="{{beer.image_url}}" class="beer-logo"/>
    </div>

  </md-dialog-content>

  <md-dialog-actions>
    <md-button ng-click="closeDialog()" class="primary raised">Close</md-button>
  </md-dialog-actions>

</md-dialog>
