/* No scss?? */

.beer-card {
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
}

.beer-card:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.beer-cell {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.beer-logo {
  height:100%;
  width:auto;
}

.beer-info {
  padding:1rem;
}

.card-div {
  margin:1rem auto;
  width: 75%;
}

.card-media {
  display:flex;
  justify-content: center;
}
